services:
  node1:
    build:
      context: ./node
      dockerfile: Dockerfile
    container_name: node1
    command: ["node", "nodeServer1.js"]
    expose:
      - "3000"

  node2:
    build:
      context: ./node
      dockerfile: Dockerfile
    container_name: node2
    command: ["node", "nodeServer2.js"]
    expose:
      - "3001"


  haproxy:
    image: haproxy:2.8
    container_name: haproxy
    depends_on:
      - node1
      - node2
    ports:
      - "8080:8080"
      - "8404:8404"
    volumes:
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
